
@import 'utils';

:host {
    @include span(full);
}

.container {
    @include span(full);
    position: relative;
}

.wrapper {
    @include span(full);
    @include hack-center();
    top: 46%;
    left: 50%;
}

.subhead {
    @include font(cursive_white);
    text-transform: capitalize;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
    padding: 20px;
    max-width: 272px;
    margin: auto;

    @include when-wider-than(tablet) {
        font-size: 40px;
        max-width: 415px;
        padding-left: 0;
        padding-right: 0; 
    }
}

.container {
    background-color:$black-background;
}

.image {
    @include span(full);
    height: 500px;
    object-fit: cover;

    @include when-wider-than(small_desktop) {
        object-fit: contain;
    }
}

.logo {
    @include span(full);
    @include hack-center();
    max-width: 600px;
    top: 24%;
    left: 50%;
}

#chevron {
    @include hack-center();
    text-align: center;
    padding: 12px;
    margin-bottom: 6px;
    height: 60px;
    width: 200px;
    padding: step(3);
    top: 77%;
    left: 50%;
  }
  
  #chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: $tomato;
    -webkit-transform: skew(0deg, 6deg);
    -moz-transform: skew(0deg, 6deg);
    -ms-transform: skew(0deg, 6deg);
    -o-transform: skew(0deg, 6deg);
    transform: skew(0deg, 6deg);
  }
  
  #chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: $tomato;
    -webkit-transform: skew(0deg, -6deg);
    -moz-transform: skew(0deg, -6deg);
    -ms-transform: skew(0deg, -6deg);
    -o-transform: skew(0deg, -6deg);
    transform: skew(0deg, -6deg);
  }

  .save-date {
    @include hack-center();
    top: 65%;
    left: 50%;
  }

  .date {
    @include hack-center();
    top: 77%;
    left: 50%;
    font-size: 22px;

    @include when-wider-than(tablet) {
        font-size: 24px;
    }
  }

.circle {
    @include hack-center();
    top: 101%;
    left: 50%;
    height: 80px;
    width: 80px;
    background-color: $tomato;
    border-radius: 50%;
}