
@import 'utils';

:host {
    @include span(full);
}

.container {
    @include span(full);
    position: relative;
}

.first-wrapper {
    @include span(full);
    padding: step(3);
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    @include span(full);
    padding: step(3);
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subhead {
    @include font(cursive_white);
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
    padding: 20px;
    max-width: 272px;
    margin: auto;

    @include when-wider-than(tablet) {
        font-size: 40px;
        max-width: 415px;
    }
}

.container {
    background-color:$black-background;
}

.image {
    @include span(full);
    height: 500px;
    object-fit: cover;

    @include when-wider-than(tablet) {
        object-fit: contain;
    }
}
