
@import 'utils';

:host {
    @include span(full);
}

app-nav {
    @include span(full);
    background-color: $white;
    position: fixed;
    z-index: 10;
}

app-header {
    @include span(full);
    padding-top: vr(13);

    @include when-wider-than(tablet) {
        padding-top: vr(20);
    }
}

app-timer {
    @include span(full);
}

app-about {
    @include span(full);
}

app-footer {
    @include span(full);
}

app-story {
    @include span(full);
}
