
@import 'utils';

:host {
    @include span(full);
}

app-nav {
    @include span(full);
}

app-timer {
    @include span(full);
}

app-about {
    @include span(full);
}

app-footer {
    @include span(full);
}

app-story {
    @include span(full);
}
