
@import 'utils';

:host {
    @include span(full);
}

.nav-bar {
    height: vr(7);
    background-color: $white;
    position: relative;
}

.name {
    @include center-vertically();
    max-width: step(27);
}

.image {
    @include span(full);
}

app-timer {
    @include span(full);
}