<section>
    <div class="wrapper" *ngFor="let item of storyData">
        <div class="image-wrapper" *ngIf="!!item.img">
            <img src="../assets/{{ item['img'] }}" alt="" class="image">
        </div>
        <div class="mobile text-wrapper" *ngIf="!item.img">
            <p class="date">{{ item.date }}</p>
            <p class="title">{{ item.event }}</p>
            <p class="summary">{{ item.action }}</p>
            <p class="description">{{ item.desc }}</p>
        </div>
    </div>
</section>
