@import 'utils';

:host {
    @include span(full);
}

.nav-bar {
    @include span(full);
    text-align: center;
}

.image-wrapper {
    @include span(full);
    border-bottom: 1px solid $grey-light;
}

.name {
    width: step(27);
    padding: vr(1) 0;

    @include when-wider-than(tablet) {
        width: step(46);
    }
}

.link-label {
    @include span(full);

    @include when-wider-than(tablet) {
        
        padding: vr(2) 0;
    }
}

li {
    display: inline-block;
    padding: vr(1);

    @include when-wider-than(tablet) {
        padding: vr(1) step(2);
    }

    a {
        @include font(philosopher1_black);
        font-size: 16px;

        @include when-wider-than(tablet) {
            font-size: 20px;
        }

        &:hover {
            color: $tomato;
        }
    }
}
