@import 'utils';

:host {
    @include span(full);
}

.nav-bar {
    @include span(full);
    text-align: left;

    @include when-wider-than(tablet) {
        text-align: center;
    }
}

.image-wrapper {
    @include span(full);

    @include when-wider-than(tablet) {
        border-bottom: 1px solid $grey-light;
    }
}

.name {
    width: step(27);
    padding: vr(1) 0;

    @include when-wider-than(tablet) {
        width: step(46);
    }
}

.fa-bars {
    @include center-vertically();
    right: 0;
    font-size: step(4);
    color: $tomato;
    padding-right: step(1);

    @include when-wider-than(tablet) {
        display: none;
    }
}

.link-label {
    display: none;

    @include when-wider-than(tablet) {
        @include span(full);
        padding: vr(2) 0;
        display: block;
    }
}

li {
    display: inline-block;
    padding: vr(1) step(2);

    a {
        @include font(philosopher1_black);

        &:hover {
            color: $tomato;
        }
    }
}

.mobile-pages {
    position: fixed;
    top: 80px;
    z-index: -1;
    height: 100%;
    width: 100vw;
    background-color: $white;
    height: calc(100% - 80px);
    transition: all 0.5s linear;

    li {
        padding: vr(1) step(4);
        list-style: none;

        .a {
            @include font(philosopher1_black);
        }
    }
}

.pages-visible {
    height: 0%;
}
