// This file includes all colors used in the websites

// Theme Grey
$tomato: #f07677;
$white: #FFFFFF;
$black: #222222;
$black-background: #060604;

$grey-1: #4E4E4E;
$grey-2: #404040;
$grey-3: #F5F5F5;
$grey-4: #191919;
$grey-5: #222000;
$grey-6: #333000;
$grey-7: #CCCCCC;
$grey-8: #F8F8F8;
$grey-9: #787878;
$grey-light: #e1e1e1;

$hover: $tomato;
$header: $grey-4;
$footer: $grey-4;
