<section>
    <div class="header-wrapper">
        <h2 class="header">Our true love story</h2>
        <img src="../assets/heading.png" alt="" class="image">
    </div>
    <app-my-story [storyData]="story.data" *ngFor="let story of storyData"></app-my-story>
    <!-- <div class="left wrapper">
        <div class="image-wrapper">
            <img src="../assets/heading.png" alt="" class="image">
        </div>
        <div class="mobile text-wrapper">
            <p class="date">20 DECEMBER 2017</p>
            <p class="title">Our First Met</p>
            <p class="summary">THAT DAY CHANGED LIFE</p>
            <p class="description">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit</p>
        </div>
    </div> -->
</section>
<!-- 
<section *ngIf="!isLeft">
    <div class="header-wrapper">
        <h2 class="header">Our true love story</h2>
        <img src="../assets/heading.png" alt="" class="image">
    </div>

    <div class="mobile text-wrapper">
        <img src="../assets/heading.png" alt="" class="image">
        <p class="date">20 DECEMBER 2017</p>
        <p class="title">Our First Met</p>
        <p class="summary">THAT DAY CHANGED LIFE</p>
        <p class="description">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit</p>
    </div>
</section> -->
